<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Review THIS Game</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
          <div class="container">
              <br><br>
              <h1 class="header center teal-text text-lighten-2">Review THIS Game</h1>
              <div class="row center">
                  <h5 class="header col s12 light">Game Reviews For Everyone</h5>
                </div>
                <nav class="transparent" role="navigation" >
                  <div class="nav-wrapper container">

                      <% if (user) { %>
                        <li>
                            <a href="/users/<%= user._id%>">My Account</a>
                        </li>
                        <li>
                            <a href="/logout">Log Out</a>
                        </li>
                        <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
                    
                    
                   
          <br><br>
       

        
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

       

      </div>
    </div>
    <div class="parallax"><img src="/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <a href="/games/show"><h2><img src="/images/anthem-facebook-cover-002.jpg" style="width:290px;height:150px" ></h2></a>
            <h5 class="center">Anthem</h5>

            <p class="light">Anthem is a deceptive game. From the first moment I stepped into its world and started meeting its characters, I was stunned by how gorgeous everything and everyone is. The jungles of Bastion are jaw-dropping, an alien landscape full of fantastic vistas and wondrous ruins. </p>
          </div>
        </div>

        <div class="col s12 m4">z
          <div class="icon-block">
            <a href="/games"><h2><img src="/images/fortnite.png" alt="" style="width:290px;height:150px"></h2> </i></h2></a>
            <h5 class="center">Fortnite</h5>

            <p class="light">Fortnite is not so much a game at this point; it’s a cultural touchstone, a steadfast staple of society that doesn’t seem to be going anywhere, almost two years after its arrival. What originally started as a free-to-play offshoot of a disappointing zombie tower defense game has morphed into the premier example of live service experiences. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="/games"><h2><img src="/images/mineCraftSmall.jpeg" alt="" style="width:290px;height:150px"></h2></a>
            <h5 class="center">Minecraft</h5>

            <p class="light">No other video game has unleashed my creativity like Minecraft. I've spent countless hours chipping away at blocks, gathering the necessary materials to complete the next masterpiece that would otherwise only occupy my mind's eye.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Open Source Game Reviews</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          
          <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block"></div>
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Fast and Agile Site</h5>
        
                    <p class="light">Navigate with ease and simplicity</p>
                  </div>
                  <div class="col s12 m4">
                        <div class="icon-block">
                          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                          <h5 class="center">User Experience Focused</h5>
              
                          <p class="light">Users decide what goes on the site and can share with freewill</p>
                        </div>
                      </div>
                      <div class="col s12 m4">
                            <div class="icon-block">
                                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                              <h5 class="center">Options</h5>
                  
                              <p class="light">Create, Update or Delete at will. </p>
                            </div>
                          </div>
                          <a href="/games/new"><i class="material-icons left">trending_flat</i>Create New Game</a>
                  
                </div>
                
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Create</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">Striving to build the biggest open source review site in the World!</p>


        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://theuselessweb.com/">Careers</a></li>
            
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/js/materialize.js"></script>
  <script src="/javascripts/js/init.js"></script>

  </body>
</html>