<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit game</title>
</head>
<body>
    <h1><%= game.name %> </h1>
    <form action="/games/<%= game._id%>?_method=PUT" method="POST" >
    <label for="">
        Game description
        <textarea name="text" id="" cols="15" rows="5"></textarea>

    </label>
    <input type="submit" name="update">
    </label>
    
    
    </form>
</body>
</html>