<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="col s12 m4">
                <div class="icon-block">
                  <h2><img src="images/mineCraftSmall.jpeg" alt="" style="width:290px;height:150px"></h2>
                  <h5 class="center">Easy to work with</h5>
      
                  <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
              </div>
            </div>
</body>
</html>