<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="section">
            
                  <!--   Icon Section   -->
                  <div class="row">
                    <div class="col s12 m4">
                      <div class="icon-block">
                        <h2><img src="images/anthem-facebook-cover-002.jpg" style="width:290px;height:150px" ></h2>
                        <h5 class="center">Speeds up development</h5>
            
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                      </div>
                    </div>
</body>
</html>