<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <div class="card-action">
          <form action="/comments" method="POST">
            <input type="text" name="text" class="white-text">
            <button type="submit" class="btn white-text">Add Fact</button>
          </form>
        </div>
        <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;"><g class="ct-series ct-series-a"><path d="M220.234,49.998A72.773,72.773,0,0,0,88.586,92.773" class="ct-slice-donut" ct:value="4" style="stroke-width: 30px;"></path></g><g class="ct-series ct-series-b"><path d="M234.133,92.773A72.773,72.773,0,0,0,220.085,49.793" class="ct-slice-donut" ct:value="1" style="stroke-width: 30px;"></path></g><g><text dx="138.8711460734169" dy="23.56178555242691" text-anchor="middle" class="ct-label">4</text><text dx="230.5710269475731" dy="70.2852085734169" text-anchor="middle" class="ct-label">1</text></g></svg>
    
</body>
</html>



















